#letra{
    font-size: 20px;
    width: 200px;
}

#btn{
    border-radius: 6px;
    background-color: blueviolet;
    color: aliceblue;
}
#btn:hover{
    background-color: aqua;
    color: black;
}

#numero{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
}