
* {
    margin: 0px;
    padding: 0px;
}
img{
    width:"600px";
    height: "200px";
}

body{
    width: 960px;
    background-color: azure;
}

header{
    display: flex;
    background: azure;
    border: 0px solid #999999;
    padding: 20px;
    align-content: center;
    justify-content: center;
    border: 10px;
}
nav{
    background: antiquewhite;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border:1px solid gray;
}
aside{
    background: rgb(228, 250, 228);
    border: 2px solid #999999;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 20px;

    align-items: right;
    justify-content: right;
    width:"20%";
    min-height: 650px;

    float: right;
    border:1px solid gray;
    font-size: 18px;
    line-height: 30px;
}

section{
    padding-top:  40px;
    width: 80%;
    height: 80%;
    float:left;
    min-height: 400px;
    min-width: 800px;
    background: azure;
}

article{
    background: antiquewhite;
    border:1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 20px;
}

footer{
    padding: 10px;
    position: absolute;
    width: 100%;
    background: antiquewhite;
    padding-bottom: 0;
    float:none;
    position: relative;
    clear: both;
    min-height: 100px;
    border:1px solid #999;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 20px;
}


h3 {
    font: bold 20px verdana, sans-serif;
    margin-left: 50px;
}

li{
    margin-left: 120px;
}

body {
    text-align: center;
    width: 80%;
    margin: 15px auto;
    text-align: left;
}

dd{
    text-align: right;
}

img{
    margin-left: 25px;
}
/*min-heigth*/