
* {
    margin: 0px;
    padding: 0px;
}
img{
    width:"600px";
    height: "200px";
}

header{
    display: flex;
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
    align-content: center;
    justify-content: center;
    border: 10px;
}
nav{
    background: #FFFBB9;
}
aside{
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
    display:inline;
    align-items: right;
    justify-content: right;
    width:"20%";
    height: 80%;
    border: 0cm;
    float: right;
    position : relative;
}

section{
    display:inline;
    position: relative;
    float:left;
    display:inline;
    background:#BDECB6;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background:#BDECB6;
    float:unset;
    position: absolute;;
}


h3 {
    font: bold 20px verdana, sans-serif;
    margin-left: 50px;
}

li{
    margin-left: 120px;
}

body {
    text-align: center;
    width: 80%;
    margin: 15px auto;
    text-align: left;
}
/*
header,section,footer,aside,nav,article,figure,figcaption,hgroup {
    display: block;
}



header {
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
}

nav {
    background: #CCCCCC;
    padding: 5px 15px;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}*/