#logo{
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: black;
}

#logoImg{
    width: 10%;
}

#botones{
    background-color: rgb(78, 78, 240);
    display: flex;
    position: relative;
    justify-content: center;
    height: 60px;
}

#botones input{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(78, 78, 240);
    border: 0px solid black;
    color: white;
}

#botones input:hover{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(35, 35, 45);
    border: 0px solid black;
    color: white;
}

#cuerpo, body{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
}

.btnizq{
    float: left;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15%;
    margin-left: 5px;
}

.btnizq:hover{
    background-color: blue;
    color: white;
    
}

.btndrc{
    float: right;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15%;
    margin-right: 5px;
}

.btndrc:hover{
    background-color: blue;
    color: white;
}

.btnctr{
    position: relative;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15%;
}

.btnctr:hover{
    background-color: blue;
    color: white;
}

.date{
    font-size: 20px;
    margin: 0 auto;
}

.date:hover{
    border: 2px solid red;
}

.flechas{
    position: relative;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.flechas:hover{
    background-color: blue;
    color: white;
}

.video{
    width: 100%;
}

#map{
    height: 400px;
    margin-top: 5%;
    left: 15%;
    width: 50%;
}

#datos{
    float: left;
    margin-left: 5%;
}

#mapa{
    margin-top: 5%;
    margin-right: 10px;
    float: right;
    width: 50%;
}

img{
    width: 50%;
    height: 40%;
}

.astronauta{
    width: 100%;
}

#btnBuscar{
    display: block;
}

.titulo{
    font-size: 25px;
    font-weight: bold;
}

th{
    font-size: 16px;
}

h2{
    text-decoration: underline;
    text-decoration-color: red;
}

table, tr, th, td{
    border: 1px solid white;
}

tr,td,th{
    padding-left: 15px;
    padding-right: 15px;
}

.encabezado{
    background-color: white;
    color: black;
}